.card{
  margin:1em;
  display:inline-block;
}

button{
    display:block;
    margin-bottom:5px;
  }

text, tspan{
  font-family:"MetricWeb";
  font-size:13px;
}

text.upper{
  font-family:'FinancierDisplayWeb, Georgia, serif';
  text-transform:uppercase;
}

text.white{
  fill:#FFFFFF;
}

.faded{
    fill-opacity:0.6;
}

text.stateTitle{
  font-size:30px;
}

.voteNum{
  font-size:19px;
}

.voteText{
  font-size:13px;
}

.history{
  opacity:0.7;
}

.keyData{
  opacity:0.7;
  font-size:14px;
}

path.background{
  fill:#8C8B8B;
  stroke:#8C8B8B;
  stroke-width:0.25px;
}

path.highlight{
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-width:0.5px;
}

.dc.highlight,
.md.highlight,
.de.highlight,
.nj.highlight,
.ct.highlight,
.ms.highlight,
.vt.highlight,
.nh.highlight,
.hi.highlight,
.ri.highlight{
  stroke-width:2px!important;
}

.Rep{
  fill:#E5262D;
}

.Dem{
  fill:#238FCE;
}

.Purple{
  fill:#6D5E7F;
}

.Gray{
  fill:#B2B2B2;
}

g.historyBars rect:nth-of-type(13){
  fill-opacity:0.7;
  mask:url(#mask);
}

.tick line{
  stroke:#E9DECF;
  fill:none;
}

.tick text{
  fill:#74736C;
}

.y .tick:nth-of-type(even) text{
  display:none;
}

.keyLine{
  stroke:#000000;
  stroke-opacity:0.12;
  stroke-linecap:square;
}

.usNum, .stateNum{
  font-size:16px;
  fill:#505050;
}